{% extends 'listapp/main.html' %}
{% load static%}

{% block content  %}
<link rel = "stylesheet" href="{%static 'css/lista.css'%}">

{% load static %}
<div class="space">
    <div class="pen"></div>
    <h1 class="headlist">{{lista}}</h1>

    <div class="boxitron">
        <table class="tabla">
            <tr >
                <th>Comprado</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Tienda</th>
                <th>Status</th>
                <th>Fecha</th>
                <th>Ad.info</th>
                <th>DELETE</th>
            </tr>
            {% for item in items %}
            <tr>
                <td><input type="checkbox" name="compra" value = "{{item.id}}"></td>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.store}}</td>
                <td>{{item.status}}</td>
                <td>{{item.date_created}}</td>
                <td>{{item.aditional_info}}</td>
                <td><input type="checkbox" name="delete" value = "{{item.id}}"></td>
            </tr>
                {% endfor %}

        </table>
        {% csrf_token %}
        <div class = "inbox">
            <label for"Producto">Producto:</label>
            <input type="text" id="Producto" name="name" placeholder="Product Name">
            <select id="cantidad" name="cantidad">
            {% for n in '0123456101215'|make_list %}
                <option value="{{forloop.counter}}">{{forloop.counter}}</option>
            {% endfor %}
            </select>
            <input class="in" type="text" id="tienda", name="tienda" placeholder ="tienda">
            <input class="in" type="text" id="Ad.info" name="adinfo" placeholder ="Ad.info">
            <input class="in" type="submit" value="Post"/>
        </div>
        </form>
    </div>
</div>
{% endblock %}
