{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{%static 'css/login.css' %}">
        <title></title>
    </head>
    <body>
    <h1>LOGIN</h1>
    <div>
    <lable for "mail"> Enter E-mail </label><br>
    <input type="email" id="mail" placeholder= "Enter email here" ><br>
    <lable for "password"> Enter Password </label><br>
    <input type="password" id="pass" ><br>
    <input type="submit" id = 'button'>
    </div>
    </body>
</html>
