<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title></title>
                {% load static %}
                {% include 'listapp/sidebar.html' %}
                <link rel="stylesheet" href="{% static 'css/sidebar.css'%}">
                
            </head>
            <body>
                <div class = "sidebar">
                    <a href = "{% url 'profile' %}"> Profile </a>
                    {% for familia in familias %}
                    <a href="/familia/{{familia.id}}/">{{familia}}</a>
                    {% endfor %}
                    <a href="#"> New familia </a>
                    <a href="{% url 'newLista'%}"> New Lista</a>
                    <a href="{%url 'logout' %}"> Logout </a></span>
                </div>
                <div class ="rest"> 
                {% block content %}
                {% endblock %}
                </div>
            </body>
        </html
}

