{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{%static 'css/login.css' %}">
        <title></title>
    </head>
    <body>
    <h1>REGISTER</h1>
    <div>
<form method="POST" action=""> {% csrf_token %}
    {{form.username.label}}
    {{form.username}}

    {{form.email.label}}
    {{form.email}}

    {{form.password1.label}}
    {{form.password1}}

    {{form.password2.label}}
    {{form.password2}}

    <input type = "submit" name= "Create User">

{{form.errors}}
Already have an account? <a href={% url 'login'%}>Login</a>
</form>
    </div>
    </body>
</html>


