
.boxitron{
    text-align:center;
    background: #77c1c7;
    margin:auto;
    width: 50%;
    padding: auto;
    box-shadow:5px 5px 2px 2px #888888;
}
body{

    background: #e1f8fa;
    font-family: Arial;
    text-align: center;
    margin:auto;
}
.in{
    margin-top: 10px;
    margin-bottom: 10px;
}
.headlist{
    text-align: center;
    letter-spacing:100px;
    margin:auto;
    margin-bottom:20px;
    margin-top: 20px;
    font-size:50px;
}
.headlist:hover{
    color:white;
    text-shadow: 2px 2px #ff0000;
}

.tabla{
    display: inline;
    border-collapse:collapse;
    padding: 100px;
}
tr:hover{
    background-color:black;
}

#button{
    padding-left: 7%;
.titulos{
    td{
    font-size: 50px;
    font-family: Georgia;
    }
}
}



